$blue: #3E9BC3;
$sky_blue: #A4DAF8;
$black :#333333;
$font_sky_blue: #C8EFF5;
$gray: rgb(22, 67, 78);
@mixin pc {
  @media screen and (min-width: 901px) {
    @content;
  }
}
@mixin tab {
    @media screen and (max-width: 900px) {
      @content;
    }
}
@mixin sp {
    @media screen and (max-width: 768px) {
      @content;
    }
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin font_letter{
    letter-spacing: 32px;
}
*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1em;
 
}
canvas {
    display: block;
}
html { 

}
body{

    font-family: "shippori-mincho-b1", sans-serif;
    font-size: 10px;
    margin: 0;
    width: 100%;
    @include tab{
        font-size: 8px;
    }
}
img {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
ul li{
    list-style: none;
}
.btn{
    font-size: 2.6em;
    color: $font_sky_blue;
    font-weight: normal;
    text-decoration: none;
    border: 1px solid $font_sky_blue;
    padding: 24px 36px;
    width: 360px;
    text-align: center;
    position: relative;
    margin: 80px 0 48px;
    @include sp{
        width: 90%;
        margin: 40px 0 24px;
    }
    span{
        position: relative;
        z-index: 2;
    }
    &::before {
        position: absolute;
        content: "";
        display: block;
        background: $font_sky_blue;
        inset: 0;
        transition: 0.15s ease-out;
        width: 0;
        z-index: 0;
        width: 0;
    }
    &:hover::before{
        width: 100%;
    }
    &:hover{
        color: $black;
     
    }
    &-black{
        color: $black;
        border: 1px solid $black;
        &::before {
            background: $black;
        }
        &:hover{
            color: $font_sky_blue;        
        }
    }
}
.lead{
    font-size: 2.4em;
    margin-bottom: 32px;
}
main{
    color: $font_sky_blue;
    width: 100%;
    .wrapper{
        &::before, &::after{
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &::before{
            z-index: -3;
            background-image: url(/public/images/bg_stella.png);
            background-size: cover;
            background-position: center center;
        }
        &::after{
            z-index: -2;
            opacity: .8;
            background: $sky_blue;
        }
    }
    .nav{
        width: 250px;
        height: 100%;
        background: $gray;
        position: fixed;
        top: 0;
        left: -250px;
        z-index: 100;
        @include flex();
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-57px);
        // z-index: 100;
        nav{
            width: 100%;
            ul{
                @include flex();
                flex-direction: column;
                gap: 40px;
                width: 80%;
                margin: 80px auto 0;
                @include sp{
                    margin: 40px auto 0;
                    gap: 20px;
                }
                li{
                    width: 100%;
                    height: 64px;
                    @include flex();
                    justify-content: start;
                    border-radius: 12px;
                    position: relative;
                    &:hover{
                        
                        transform: scale(1.07);
                        transition: .2s;
                    }
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 40%;
                        right: 8px;
                        width: 18px;
                        height: 3px;
                        background: $sky_blue;
                        border-radius: 16px;
                        transform: rotate(30deg);
                        z-index: 4;
                    }
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 40%;
                        right: 8px;
                        width: 18px;
                        height: 3px;
                        background: $sky_blue;
                        transform: rotate(-30deg);
                    }
                    a{
                        width: 100%;
                        height: 100%;
                        font-size: 1.5em;
                        @include tab{
                            font-size: 2em;
                        }
                        color: $font_sky_blue;
                        background: $blue;
                        border: 2px solid $sky_blue;
                        text-decoration: none;
                        padding-left: 12px;
                        border-radius: 10px;
                        @include flex();
                        justify-content: start;
                        &:hover{
                            background: #5EA7C7;
                        }
                        &::before{
                            content: "";
                            width: 20%;
                            height: 50%;
                            min-width: 30px;
                        }
                        &.profile_icon::before {
                            background: url(/public/images/profile_icon.svg) no-repeat left center / 100% 100%;
                        }
                        &.costume_icon::before {
                            background: url(/public/images/costume_icon.svg) no-repeat left center / 100% 100%;
                        }
                    
                        &.youtube_icon::before {
                            background: url(/public/images/youtube_icon.svg) no-repeat left center / 100% 100%;
                        }
                    
                        &.world_icon::before {
                            background: url(/public/images/world_icon.svg) no-repeat left center / 100% 100%;
                        }
                    
                        &.twitter_icon::before {
                            background: url(/public/images/twitter_icon.svg) no-repeat left center / 100% 100%;
                        }
                        span{
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
        .nav_btn{
            width: 56px;
            height: 56px;
            background: $blue;
            position: absolute;
            top: 24px;
            right: -56px;
            border-radius: 0 8px 8px 0;
            @include flex();
            flex-direction: column;
            gap: 10px;
            border: 3px solid $sky_blue;
            filter: drop-shadow(0 0 1px #A4DAF8) drop-shadow(0 0 1px #A4DAF8);
            cursor:pointer;
            span{
                display: block;
                width: 37px;
                height: 3px;
                background: $sky_blue;
                border-radius: 10px;
                transform-origin: right;
            }
        }
    }
}

.webgl{
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    outline: none;
    z-index: 50;
}
.kv{
    @include flex();
    position: relative;
    height: 100vh;
    .kv_box{
        width: 50%;
        height: 100vh;
        overflow: hidden;
        .kv_img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            transform: scale(1);
        }
    }
}
h1{
    @include flex();
    margin: 8px;
    img{
        width: 200px;
        height: auto;
    }
}

h2{
    font-size: 3.6em;
    @include font_letter();
    @include flex();
    margin-bottom: 80px;
    padding-bottom: 24px;
    font-weight: normal;
    text-align: center;
    border-bottom: 4px $font_sky_blue double;
    padding-left: .5em;
    overflow: hidden;
    min-width: 500px;
    @include sp{
        min-width: 90%;
        margin-bottom: 40px;
    }
}
.black_content{
    color: $black;
    h2{
        border-color: $black;
    }
}

section{
    padding: 200px 0 100px;
    @include sp{
        padding: 100px 0 50px;
    }
    &.bg_sky_blue{
        padding: 100px 0 100px;
        background-color: $blue;
        position: relative;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
                    background-image: radial-gradient(circle, #06b6d4 1px, transparent 1px);
            background-position: 0 0;
            background-size: 22px 22px;
    }
    width: 100%;
    .section_inner{
        @include flex();
        flex-direction: column;
        position: relative;
        .item_1, .item_3{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .item_2, .item_4{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        .item{
            @include sp{
                width: 50%;
                height: auto;
            }
        }
        &_world{
            width: 100%;
        }
    }
}

.profile {
    padding-top: 500px !important;
    @include sp{
        padding-top: 300px !important;
    }
}
.profile_inner{
    @include flex();
    align-items: flex-start;
    gap: 36px;
    width: 80%;
    max-width: 1000px;
    padding: 56px;
    position: relative;
    background: $gray;
    &::before{
        border: 3px solid #fff;
        filter: drop-shadow(0 0 10px $sky_blue) drop-shadow(0 0 9px $sky_blue);
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    @include tab{
        flex-direction: column;
        padding: 24px;
        width: 90%;
    }
    img{
        width: 40%;
        max-width: 360px;
        height: auto;
    }
    &_box{
        &_name{
            font-size: 4em;
            margin-bottom: 10px;
        }
        &_kana{
            font-size: 1.4em;
            letter-spacing: 20px;
            margin-bottom: 48px;
            @include sp{
                margin-bottom: 24px;
                letter-spacing: 12px;
            }
        }
        &_text{
            font-size: 1.6em;
            line-height: 1.6em;
            &:not(:last-child){
                margin-bottom: 24px;
            }
            .dots{
                font-size: .5em;
                color: rgb(34 115 135);
            }
        }
    }
}

// youtube
.youtube {
    width: 60%;
    aspect-ratio: 16 / 9;
    text-align: center;
    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
    iframe{
        width: 100%;
        height: 100%;
    }
    @include sp{
        width: 80%;
    }
  }
.channel_text{
    font-size: 2.4em;
    margin: 40px 0 24px;
    height: 1em;
}
.channel_count{
    letter-spacing: .5em;
    padding-left: .5em;
    font-weight: bold;
    .people{
        font-size: 1rem;
    }
    .subscribes{
        font-size: 5em !important;
    }

}


.swiper {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
    height: 90%;
    @include sp{
        margin: 0 auto;
    }
}
.swiper-button-next:after, .swiper-button-prev:after {
    color: $font_sky_blue;
}
.sns {
    padding: 8px;
    width: 60%;
    margin: 0 auto 60px;
    @include flex();
    position: relative;
    @include sp{
        width: 90%;
    }
    &::before{
        border: 3px solid #fff;
        filter: drop-shadow(0 0 10px $blue) drop-shadow(0 0 10px $blue);
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .twitter-timeline{
        width: 100% !important;
        padding: 8px;
    }
}



// 衣装
.swiper_costome_top{
    @include pc{
        @include flex();
        gap: 24px;
    }
    .swipr_costume {
        display: flex;             /* 横並びにする */
        align-items: center;       /* 縦方向を中央揃え */
        gap: 20px;  
        width: 400px;               /* スライドとドットの間隔 */
        height: auto;
    }
    
    .swiper-wrapper {
        width: 360px;              /* スライドの幅を固定 */
    }
    
    .swiper-slide img {
        display: block;
        width: 400px;              /* スライド幅 */
        height: auto;    
        @include sp{
            width: 220px;
            margin: 0 auto;
        }
    }
    .swiper-slide-active img{
        filter: drop-shadow(8px 8px 0 #333333ad);
    }
    
    .swiper-pagination {
        @include flex();
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        position: static !important;
        gap: 20px;  
        width: 330px !important; 
        height: 500px !important;
        margin-left: 24px;
        @include sp{
            margin-left: 0;
            width: 100% !important;
            height: 400px !important;
            gap: 12px;
        }
    }
    
    
    .custom-bullet {
        width: 100px !important;
        height: 100px !important;
        cursor: pointer;
        transition: background-color 0.3s;
        background-repeat: no-repeat;
        background-size: 95px;
        background-position: center center;
        transition: all  0.1s ease;
        border: 3px solid #ffffff00;
        overflow: hidden;
        &:hover {
            transform: scale(1.1);
 
        }
        @include sp{
            width: 80px !important;
            height: 80px !important;
            background-size: 75px;
        }
    }
    @for $i from 1 through 12 {
        .custom-bullet:nth-of-type(#{$i}){
            background-image: url(/public/images/costume_icon_#{$i}.png);
        }
    }
    .custom-bullet-active{
        overflow: hidden;
        border: 3px solid #060C43;
        border-radius: 50%;
        
    }

}
.custom-bullet,
.custom-bullet:focus,
.custom-bullet:focus-visible,
.custom-bullet:active,
.nav_btn,
img {
    pointer-events: auto;
    outline: none !important;
    user-select: none;
}






// ロード
.load{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgb(22, 67, 78);
    @include flex();
    pointer-events: none;
    .load_box{
        width: 400px;
        height: 80px;
        outline: solid 3px #3E9BC3;
        outline-offset: 2px;
        border-radius: 4px;
        @include flex();
        flex-direction: column;
        gap: 8px;
        font-size: 2.2em;
        pointer-events: none;
        position: relative;
        @include sp{
            width: 80%;
            gap: 16px;
        }
        &::before {
            border: solid 3px #3E9BC3;
            border-radius: 4px;
            filter: drop-shadow(0 0 6px #3E9BC3) drop-shadow(0 0 6px #3E9BC3);
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }
        .bar{
            width: 300px;
            height: 8px;
            border-radius: 5px;
            pointer-events: none;
            position: relative;
            overflow: hidden;
            z-index: 16;
            @include sp{
                width: 80%;
            }
            .now{
                width: 300px;
                height: 8px;
                border-radius: 5px;
                position: absolute;
                top: 0;
                right: 0;     
                background: #75c0e0;
                transform: translateX(-300px);
            }
            .load_bg{
                width: 300px;
                height: 8px;
                background: #237B86;
                border-radius: 5px;
                position: absolute;
                top: 0;
                right: 0;
            }
            
        }
        .percent{
            position: relative;
            width: 100%;
            color: #75c0e0;
            @include flex();
            &::before, &::after{
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                background-image: url(/public/images/arrow.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &::before{
                right: 16px;
            }
            &::after{
                left: 16px;
                transform: rotateY(180deg);
            }
        }
    }
    canvas{
        position: fixed;
    }
    @include flex();
    flex-direction: column;
    gap: 66px;
    .thumbnail{
        width: 330px;
        z-index: 10;
        border-radius: 16px;
        background-image: radial-gradient(circle, rgba(58, 99, 255, 1), rgba(42, 179, 252, 1) 90%);
        
        &::before{
            content: "";
            display: block;
            width: 330px;
            height: 345px;
            border: 4px solid $blue;
            filter: drop-shadow(0 0 6px #3E9BC3) drop-shadow(0 0 6px #3E9BC3);
            position: absolute;
            border-radius: 16px;
            
        }
        img{
            width: 300px;
            margin: 0 auto;
        }

    }
}
body.loading {
    // overflow: hidden; /* スクロールを無効化 */
}
#bubble_bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    r: 0;
    canvas{
        position: absolute;
    }
}


footer{
    width: 100%;
    padding: 24px;
    background: $blue;
    @include flex();
    p{
        font-size: 1.6em;
    }
}